body {
    background-color: #f5f5f5;
    height: 100%;
}

a.navbar-brand {
    font-family: 'Bebas Neue', cursive;
}

.navbar {
    background-color: darkgray;
}

.form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    border: 1px solid black;
}

/* Hiding The Labels Of Login Form */
.form-login .control-label {
    display: none;
}

.form-register {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    border: 1px solid black;
}

/* Hiding The Labels Of Registration Form */
.form-register .control-label {
    display: none;
}

