<!--HTML For Password Reset Email -->
<p>Dear {{ user.firstName }} {{ user.lastName }},</p>
<p>
    To reset your password, please click this 👉 <a href="{{ url_for('reset_password', token = token, _external = True) }}">Reset Password</a>.
</p>
<p>Alternatively, you can paste the following link in your browser's address bar:<br/>
{{ url_for('reset_password', token = token, _external = True) }}
</p>
<p>If you have not requested a password reset, simply ignore this message.</p>
<p>Sincerely<br/>
The PyTec Support Team
</p>