{% extends "base.html" %}

{% block title %}
    Task Management System - Edit User Profile
{% endblock %}

{% block content %}

    <h1>Edit User Profile Information</h1>

    <form action = "", method = "POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}&emsp;
            {{ form.username(size = 64) }}<br>
            {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.firstName.label }}&emsp;
            {{ form.firstName(size = 50) }}<br>
            {% for error in form.firstName.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.lastName.label }}&emsp;
            {{ form.lastName(size = 50) }}<br>
            {% for error in form.lastName.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}