{% extends "base.html" %}

{% block title %}
    {{ _("Task Management System - Dashboard") }}
{% endblock %}

{% block app_content %}

    <div class="container">
        <div class="row">

            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-10">
                        <h2>{{ _("Manage Your Tasks") }}</h2>
                    </div>
                    <div class="col-md-2">
                        <span class="align-middle">
                            <button type="button" class="btn btn-addTask" data-toggle="modal" data-target="#addTask">{{ _("Add New Task") }}</button>
                        </span>
                    </div>
                </div>
            </div>

            <h1 class="text-center">{{ _("Tasks At A Glance") }}</h1>
            {% if todoitems|length < 1 %}
                <h3 class="text-center">{{ _("Currently you dont have any tasks") }}, {{ current_user.firstName }}{{ _(". Create One?") }}</h3>
            {% else %}
                <table class="table table-dark">
                    <thead>
                        <tr class="table-heading">
                            <th>{{ _("Task") }}</th>
                            <th>{{ _("Description") }}</th>
                            <th>{{ _("Date Added") }}</th>
                            <th>{{ _("Date Updated") }}</th>
                            <th>{{ _("Date Completed") }}</th>
                            <th>{{ _("Status") }}</th>
                            <th>{{ _("Actions") }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todoitem in todoitems %}
                            
                            
                            {% if todoitem.is_completed == True %}
                                <tr class="data-hover">
                                    <td>{{ todoitem.title }}</td>
                                    <td>{{ todoitem.description }}</td>
                                    <td>{{ todoitem.date_created.date() }}</td>
                                    <td>
                                        {% if todoitem.date_updated != None %}
                                            {{ todoitem.date_updated.date() }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if todoitem.date_completed != None %}
                                            {{ todoitem.date_completed.date() }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td><span class="badge badge-completed">{{ _("Completed") }}</span></td>
                                    <td>
                                        <a href="/update/{{ todoitem.item_id }}" class="btn btn-primary edit_button" data-toggle="modal" data-target="#editItem{{todoitem.item_id}}">{{ _("Edit") }}</a>
                                        <a onclick="playDelSound(event);" href="/delete/{{ todoitem.item_id }}" class="btn delete-button">{{ _("Delete") }}</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr class="data-hover">
                                    <td>{{ todoitem.title }}</td>
                                    <td>{{ todoitem.description }}</td>
                                    <td>{{ todoitem.date_created.date() }}</td>
                                    <td>
                                        {% if todoitem.date_updated != None %}
                                            {{ todoitem.date_updated.date() }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if todoitem.date_completed != None %}
                                            {{ todoitem.date_completed.date() }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td><span class="badge badge-incomplete">{{ _("Not Completed") }}</span></td>
                                    <td>
                                        <a href="/update/{{ todoitem.item_id }}" class="btn btn-primary edit_button" data-toggle="modal" data-target="#editItem{{todoitem.item_id}}">{{ _("Edit") }}</a>
    
                                        <a onclick="playDelSound(event);" href="/delete/{{ todoitem.item_id }}" class="btn delete-button">{{ _("Delete") }}</a>
    
                                        <a href="/done/{{ todoitem.item_id }}" class="btn btn-tobecomplete">{{ _("Done") }}</a>
                                    </td>
                                </tr>
                            {% endif %}

                            <!-- Edit ToDo Item Popup Dialog Box -->
                            <div id="editItem{{todoitem.item_id}}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="text-center modal-title">{{ _("Update Task") }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{{ url_for('update') }}" method="POST">
                                                <div class="form-group">
                                                    <label>{{ _("Task Title") }}</label>
                                                    <input type="hidden" name="item_id" value="{{todoitem.item_id}}">
                                                    <input type="text" class="form-control" name="title" value="{{todoitem.title}}">
                                                </div>
                                                <div class="form-group">
                                                    <label>{{ _("Task Description") }}</label>
                                                    <input type="text" class="form-control" name="description" value="{{todoitem.description}}">
                                                </div>
                                                <div class="form-group">
                                                    <button class="btn btn-success" type="submit">{{ _("Update Task") }}</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">{{ _("Close") }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        {% endfor %}
                    </tbody>
                    
                </table>
            {% endif %}

            <!-- Add ToDo Item Popup Dialog Box -->
            <div id="addTask" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="text-center modal-title">{{ _("Add Task") }}</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{ url_for('add_task') }}" method="POST" autocomplete="off">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Task Title" name="title" required="1">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Task Description" name="description" required="1">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-success" type="submit">{{ _("Add Task") }}</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">{{ _("Close") }}</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    
{% endblock %}