{% extends "base.html" %}
{% import "bootstrap/wtf.html" as bootstrapForms %}

{% block title %}
    {{ _("Task Management System - User Login") }}
{% endblock %}

{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h1 class="heading">📝&emsp;{{ _("Task Manager") }}</h1>
                <h4>{{ _("Login & Start Managing Your Tasks!") }}</h4>
                <div class="row">
                    {{ bootstrapForms.quick_form(form, extra_classes = "form-login", button_map = {"submit": "btn btn-login text-uppercase"}) }}
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>{{ _("Are You A New User?") }}<br/><a class="btn btn-register" href="{{ url_for('register') }}">{{ _("Register Now") }}</a></p>
                    </div>
                    <div class="col-md-6">
                        <p>{{ _("Forgot Your Password?") }}<br/><a class="btn btn-passwordreset" href="{{ url_for('reset_password_request') }}">{{ _("Reset Password") }}</a></p>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
{% endblock %}