{% extends "base.html" %}
{% import "bootstrap/wtf.html" as bootstrapForms %}

{% block title %}
    Task Management System - User Login
{% endblock %}

{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h1>Task Manager</h1>
                <h4>Login & Start Managing Your Tasks!</h4>
                <div class="row">
                    {{ bootstrapForms.quick_form(form, extra_classes = "form-login", button_map = {"submit": "btn btn-success"}) }}
                </div>
                <p>Are You A New User?&nbsp;<a class="btn btn-primary" href="{{ url_for('register') }}">Register Now</a></p>
                <p>Forgot Your Password?&nbsp;<a class="btn btn-primary" href="{{ url_for('reset_password_request') }}">Reset Password</a></p>
            </div>
        </div>
    </div>
    
{% endblock %}