{% extends "base.html" %}

{% block title %}
    Task Management System - User Login
{% endblock %}

{% block content %}
    <h1>Login</h1>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}&emsp;
            {{ form.username(size = 32) }}<br>
            {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}&emsp;
            {{ form.password(size = 32) }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }}&nbsp;{{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}