{% extends "base.html" %}
{% import "bootstrap/wtf.html" as bootstrapForms %}

{% block title %}
    Task Management System - User Registration
{% endblock %}

{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h1>User Registration</h1>
                <div class="row">
                    {{ bootstrapForms.quick_form(form, extra_classes = "form-register", button_map = {"submit": "btn btn-success"}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}