{% extends "base.html" %}
{% import "bootstrap/wtf.html" as bootstrapForms %}

{% block title %}
    {{ _("Task Management System - Password Reset") }}
{% endblock %}

{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h1>{{ _("Reset Your Password") }}</h1>
                {{ bootstrapForms.quick_form(form, extra_classes = "form-passwordreset", button_map = {"submit": "btn btn-success"}) }}
            </div>
        </div>
    </div>
{% endblock %}