{% extends "base.html" %}
{% import "bootstrap/wtf.html" as bootstrapForms %}

{% block app_content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h1 class="heading">📝&emsp;Task Manager</h1>
                <h3>Reset Your Password</h3>
                {{ bootstrapForms.quick_form(form, extra_classes = "form-passwordresetrequest", button_map = {"submit": "btn btn-passwordreset text-uppercase"}) }}
            </div>
        </div>
    </div>

{% endblock %}